<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/play" method="post">
      <label for="">Player1 Name</label>
      <br>
      <input type="text" name="player1" value="">
      <br><br>
      <label for="">Player2 Name</label>
      <br>
      <input type="text" name="player2" value="">
      <br><br>
      <input type="submit" name="" value="Submit">
    </form>
  </body>
</html>
